* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

header {
    background-color: rgba(3, 29, 24, 0.75);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    height: 50px;
    border-radius: 10px;
    background-color: #808080;
    border: none;
    color: #fff;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
}

.login:hover, .register:hover {
    background-color: #656565;
    text-decoration: none;
    color: #fff;
}

.search-form {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.search-input, .search-button {
    border: none;
    outline: none;
    border-radius: 10px;
}

.search-input {
    width: 100%;
    height: 50px;
    background: #808080;
    color: #ffffff;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}

.search-button {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: #808080;
    cursor: pointer;
}

.search-button:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.search-button:hover {
    background-color: #656565;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 30px;
    align-items: center;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    position: relative;
    max-width: 100px;
}

.menu {
    display: flex;
    gap: 10px;
}

nav ul li button {
    height: 50px;
    border-radius: 10px;
    background-color: #808080;
    border: none;
    color: #fff;
    padding: 10px 10px;
    font-size: 20px;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

nav ul li .search-form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 90vw;
    max-width: 90vw;
    display: none;
    background-color: rgba(3, 29, 24, 0.25);
    z-index: 5;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav.active {
    display: block;
}

nav ul li {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color:#fff;
    padding: 0 30px;
    margin-bottom: 5px;
    font-size: 20px;
    display: block;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: rgba(3, 29, 24, 0.75);
        padding: 10px 20px;
    }

    .menu.active {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }
}