* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-name {
    width: 100%;
    background-color: rgba(3, 29, 24, 0.75);
    display: flex;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
}

.add-button {
    position: fixed;
    right: 2%;
    bottom: 7%;
    z-index: 2;
}

.add-button button {
    width: 50px;
    height: 50px;
    background-color: rgba(3, 29, 24, 0.8);
    color:#fff;
    font-size: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding-bottom: 5px;
}

.section-photos {
    width: 100%;
    height: 100vh;
    /*background-color: rgba(32, 184, 153, 0.75);*/
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
}

.photo-tile {
    position: relative;
    border-radius: 10px;
    width: 480px; /* Ширина плитки */
    height: 360px; /* Высота плитки */
    margin: 10px; /* Отступ между плитками */
    background-color: #f0f0f0; /* Фоновый цвет плитки */
    flex: 1;
    min-width: 480px;
}

.photo-tile .photo-details {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    position: absolute;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    width: 100%;
    padding: 5px;
    display: flex; /* Использование флекс-контейнера */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
}

.modal {
    display: none;
    position: fixed;
    top: 15%;
    left: center;
    width: 75%;
    height: 75%;
    background-color: #808080;
    z-index: 3;
    border-radius: 30px;
    border: 2px solid white;
}

.modal-content {
    width: 100%;
    height: 100%;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal-name {
    width: 100%;
    position: absolute;
    display: flex;
    background-color: rgba(3, 29, 24, 0.75);
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    gap: 5px;
    color: #fff;
    font-size: 30px;
    border-radius: 30px 30px 0 0;
}
.modal-name img {
    width: 75px;
    height: 75px;
}

.modal-name h1 {
    text-align:  center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 2;
}

.left-section {
    width: 75%;
    padding: 10px;
    text-align: center;
}

.right-section {
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#fileInput {
    display: none;
}

#uploadImage {
    max-width: 100%;
    max-height: 75%;
    border: 2px solid black;
}

#imageTitle {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

#uploadButton {
    display: block;
    margin: 10px auto;
}

.modal-content button {
    background-color: #656565;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}